<div>
  <%= link_to 'Sign in with Facebook', '/users/auth/facebook?type=users' %><br>
  <%= link_to 'Sign in with Vkontakte', '/users/auth/vkontakte?type=users' %><br>
  <%= link_to 'Sign in with GoogleOauth2', '/users/auth/google_oauth2?type=users' %><br>
</div>
