<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Бронирование <%= @booking.id %></h1>
    <p>
      Вы забронировали тур.
    </p>    
  </body>
</html>