<div class="container-fluid">
  <%= render 'guides/bookings/index/breadcrumbs' %>

  <div class="box_general">
    <div class="header_box">
      <h2 class="d-inline-block">Bookings list</h2>
      <!--    <div class="filter">-->
      <!--      <select name="orderby" class="selectbox">-->
      <!--        <option value="Any status">Any status</option>-->
      <!--        <option value="Approved">Approved</option>-->
      <!--        <option value="Pending">Pending</option>-->
      <!--        <option value="Cancelled">Cancelled</option>-->
      <!--      </select>-->
      <!--    </div>-->
    </div>

    <div class="list_general">
      <ul>
        <% @bookings.each do |booking| %>
          <%= render 'guides/bookings/index/booking', booking: booking %>
        <% end %>
      </ul>
    </div>
  </div>

  <%= will_paginate @bookings, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>