<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to I18n.t 'users.breadcrumbs.dashboard', user_root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Блоги', users_stories_path %></li>
    <li class="breadcrumb-item active">Добавить блог</li>
  </ol>

  <%= render 'shared/stories/new' %>
</div>
