<% provide(:body_class, 'dashboard') %>
<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Pohodia</a>
    </li>
    <li class="breadcrumb-item active">Консоль</li>
  </ol>
  <h2></h2>
  <div class="box_general padding_bottom">
    <div class="header_box version_2">
      <h2>Консоль</h2>
    </div>
    <h3>Здесь отображается актуальная информация о проекте</h3>
    <p>текущая локаль <%= I18n.locale %></p>
    <p>Доступ к аккаунту администратора: admin@pohodia.ru | 123456</p>
    <h2>Список измений 19.09.2018</h2>
    <p>Админ-панель</p>
    <ul>
      <li>Импотрировал базу стран, регионов, городов</li>
      <li>Подключил шаблон</li>
      <li>Добавил компонент управления странами</li>
      <li>Добавил компонент управления регионами</li>
      <li>Добавил компонент управления городами</li>
      <li>Добавил компонент управления сео-страницами для страны</li>
      <li>Добавил компонент управления категориями туров</li>
      <li>Добавил компонент управления типами туров</li>
    </ul>

    <p>Общедоступная часть</p>
    <ul>
      <li>Подключил шаблон</li>
      <li>Добавил базовую структуру для стран, городов, регионов</li>
      <li>Добавил блок быстрых ссылок для администратора</li>
    </ul>
  </div>
</div>