<% provide(:body_class, 'regions-seo') %>

<div class="container-fluid">
  <h2>Этот раздел в разработке</h2>
  <div class="buttons_container">
    <ul>
      <li><%= link_to "Назад", edit_administrators_region_path(@region), class: 'btn_1 gray small' %></li>
    </ul>
  </div>
</div>